{% extends 'base.html.twig' %}

{% block body %}
<main class="admin">

    <h1>Administration</h1>



    <div class="admin__options">
        <a href="{{ path('admin_view_dog') }}" class="btn btn-danger">Gérer les chiens</a>
        <a href="{{ path('admin_view_litter') }}" class="btn btn-warning">Gérer les portées</a>
        <a href="{{ path('admin_view_puppy') }}" class="btn btn-pink">Gérer les chiots</a>
        <a href="#" class="btn btn-secondary">Gérer les articles</a>
        <a href="#" class="btn btn-info">Gérer les news</a>
    </div>

    
    <div class="admin__options">
        <a href="{{ path('admin_create_dog')}}" class="btn btn-primary">Créer un chien</a>
        <a href="{{ path('logout')}}" class="btn btn-danger">Se déconnecter</a>
    </div>

    <section class="login">
        <h2>Vous devez être connecter pour accéder à cette page ! </h2>
        <br/>
        <br/>
        <div>
            <a href="{{ path('connexion' )}}" class="btn btn-beige">Se connecter </a>
        </div>
    </section>

</main>
{% endblock body %}