{% extends 'base.html.twig' %}

{% block body %}
<main class="admin">
    <h1>Gestion des portées</h1>



    <div class="admin__options">
        <a href="{{ path('admin_view_dog') }}" class="btn btn-danger">Gérer les chiens</a>
        <a href="{{ path('admin_view_litter') }}" class="btn btn-warning">Gérer les portées</a>
        <a href="#" class="btn btn-pink">Gérer les chiots</a>
        <a href="#" class="btn btn-secondary">Gérer les articles</a>
        <a href="#" class="btn btn-info">Gérer les news</a>
    </div>


    {{ form_start(form) }}

    {{ form_row(form.dogMom, {'label': 'Maman : '}) }}
    {{ form_row(form.dad, {'label': 'Papa : '}) }}
    {{ form_row(form.nbFemale, {'label': 'Nombre de Femelles : '}) }}
    {{ form_row(form.nbMale, {'label': 'Nombre de Mâles : '}) }}
    {{ form_row(form.birthdate, {'label': 'Date de Naissance : '}) }}


    <button type="submit" class="btn btn-success">Créer la portée</button>

    {{ form_end(form) }}

</main>
{% endblock body %}