<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Page Accueil Elevage Cane Corso Limousin 87" />
        <meta name="KEYWORDS" content="Elevage Cane Corso Chien de cour Italien Limousin eleveur" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto+Condensed:wght@400" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="{{ asset('css/main.css') }}" type="text/css" />
           
        {% block stylesheets %}

        {% endblock %}

        <script src="https://kit.fontawesome.com/5944b63bf2.js" crossorigin="anonymous"></script>

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="ico-responsive">
                <div id="button-nav">
                    <button class="btn btn-beige"> Menu </button>
                </div>
                <div id="button-close">
                    <button class="btn btn-beige">Fermer</button>    
                </div>
            </div>
            
            <ul id="menu" >
                <li class="menu-anim"><a href="{{ path('index') }}" class="menu-link menu-anim fas fa-home"></a></li>
                <li class="menu-anim"><a href="{{ path('index') }}" class="menu-link menu-anim">Accueil</a></li>
                <li class="menu-anim"><a href="{{ path('ourdog') }}" class="menu-link menu-anim">Nos Reproducteurs</a></li>
                <li class="menu-anim"><a href="{{ path('puppies') }}" class="menu-link menu-anim">Nos Chiots</a></li>
                <li class="menu-anim"><a href="{{ path('breed') }}" class="menu-link menu-anim">Le Cane Corso</a></li>
                <li class="menu-anim"><a href="{{ path('contact') }}" class="menu-link menu-anim">Nous Contacter</a></li>
            </ul>
        </header>
        

        {% block body %}
        
        {% endblock %}

        <footer>
            <div>
                <p id="footer-merci">
                    <b>Nous vous remercions de votre visite sur notre site</b><br/>
                    <b>Passez une excellente journée</b>
                </p>
                <p id="footer-copyright">
                    <u>Photos : </u><br/>
                    <i>Cathy Thouvenin</i><br/>
                    <i>Eva Brochet</i><br/>
                    <i>Benoit Souillat</i><br/>
                    <i>© Reproduction Interdite</i>
                </p>
                <p id="footer-signature">
                    Eva Brochet - Eleveuse Canin <br/> Titulaire du
                    Baccalauréat : Conduite et Gestion dans le secteur
                    élevage Canin et Félin <br/>
                    Titulaire du Brevet Professionnel Agricole : 
                    Travaux en élevage Canin et Félin
                    <br/> N°Eleveur : 362026 - N°Affixe : 92123 - N° Siret : 891 460 644 00018
                    <br/>
                    <i>Textes, vidéos et photos tous droits réservés pour tous pays</i>
                </p>
            </div>
    </footer>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/app/res.js" ></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.7"></script>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script src="/app/anim.js"></script>

    </body>
</html>
