{% extends 'base.html.twig' %}

{% block body %}
<main class="admin">
    <h1>Administration</h1>
    {% if deleteDog is defined %}
                    <h3> {{ deleteDog }} </h3>
    {% endif %}

    <div class="admin__list">
        {% for dog in dogs %}

        <section>
            <h2>{{ dog.name }}</h2>
            <p>
                Race : {{ dog.breed }} <br/>
                Elevage : {{ dog.breeder }} <br/>
                Né le : {{ dog.birth | date('d/m/Y') }} <br/>
                LOF : {{ dog.lof }} <br/><br/>

            </p>
            <a href="{{ path('manage_dog', {'id': dog.id }) }}" class="btn btn-warning btn-xs text-center">Corriger ce chien</a>
            <a href="{{ path('delete_dog', {'id': dog.id }) }}" class="btn btn-danger btn-xs text-center">Supprimer ce chien</a>
            <br/><br/>
        </section>
        {% endfor %}
    </div>

    <div class="admin__options">
        <a href="{{ path('create_dog')}}" class="btn btn-primary">Créer un chien</a>
        <a href="{{ path('update_dog')}}" class="btn btn-secondary">Modifier un chien</a>
    </div>

</main>
{% endblock body %}